.board-container {
  padding-top: 100px;
}

.board-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  overflow-x: auto;
  align-items: flex-start;
  margin: 25px 0;
}

.columns-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  overflow-x: auto;
  align-items: flex-start;
  margin-bottom: 4px;
  height: 64vh;
}

.bg-board {
  position: absolute;
  bottom: 9vh;
  right: 0;
  background-image: url(../../assets/board-pic.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 350px;
  height: 300px;
  z-index: -1;
}

.h2-board {
  padding-bottom: 12px;
  color: var(--orange-color);
}

.h3-board {
  padding-bottom: 20px;
  color: #4c4b4b;
}

@media (max-width: 775px) {
  .board-list {
    flex-direction: column;
  }

  .columns-container {
    height: 61vh;
  }
}

@media (max-width: 611px) {
  .board-container {
    padding-top: 130px;
  }

  .bg-board {
    display: none;
  }
}

@media (max-width: 550px) {
  .board-container {
    padding-top: 150px;
  }

  .columns-container {
    height: calc(90vh - 340px);
  }
}
