.board-container {
  padding-top: 100px;
}

.board-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  overflow-x: auto;
  align-items: flex-start;
  margin: 25px 0;
}

.columns-container {
  display: flex;
  flex-direction:row;
  gap: 20px;
  overflow-x: auto;
  align-items: flex-start;
  margin-bottom: 4px;
  height: 68vh;
}

@media (max-width: 775px) {
  .board-list {
    flex-direction: column;
  }
}

@media (max-width: 550px) {
  .board-container {
    padding-top: 150px;
  }

  .columns-container {
    height: calc(90vh - 300px);
  }
}

@media (max-width: 347px) {
  .board-container {
    padding-top: 200px;
  }

  .columns-container {
    height: calc(90vh - 350px);
  }
}
