.boards-container {
  padding: 7%;
  display: flex;
  flex-wrap: wrap;
}
.boards-form {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 300px;
  height: fit-content;
  z-index: 10;
}
