.layout {
  min-height: 90vh;
  padding: 0 20px;
}

.layout > h3 {
  margin-left: 5px;
  text-align: center;
  padding: 20px 0;
}

@media (max-width: 395px) {
  .layout {
    min-height: calc(90vh - 5px);
  }
}
