.appbar {
  position: static;
}

.appbar-sticky {
  position: fixed;
  background: var(--dark-blue) !important;
  z-index: 15;
}

.welcome-page-link {
  cursor: pointer;
}

.nav-link {
  text-decoration: none;
}

@media (max-width: 775px) {
  .plus-icon {
    display: none;
  }
}

@media (max-width: 670px) {
  .toolbar {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
    row-gap: 10px;
    justify-content: flex-end;
  }
}
