.footer {
  height: 10vh;
  width: 100wv;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: var(--blue-color);
  color: var(--white-color);
}

.github-links-box {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

.github-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 5px;
}
