.start-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  box-sizing: border-box;
  text-align: justify;
  align-content: center;
  min-height: 80vh;
  margin-top: 20vh;
  padding: 0 40px;
  position: relative;
}

.start-img {
  width: 60%;
  border-radius: 15px;
  position: absolute;
  right: 40px;
  bottom: 140px;
}

.start-left-block {
  position: absolute;
  top: 0;
  left: 120px;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  justify-content: space-around;
  z-index: 10;
}

.h1 {
  color: var(--orange-color);
  display: inline-block;
  font-size: 5rem;
  position: relative;
}

.start-text {
  font-size: 1.9rem;
  line-height: 40px;
  width: 40%;
  color: #555454;
}

@media (max-width: 1100px) {
  .start-page {
    flex-direction: column;
    margin-top: 10vh;
    min-height: 90vh;
  }

  .start-left-block {
    position: static;
    align-items: center;
    margin-top: 0;
  }

  .start-text {
    width: 80%;
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 50px;
  }

  .start-img {
    padding-top: 50px;
    position: static;
  }

  .h1 {
    font-size: 4rem;
  }
}

@media (max-width: 768px) {
  .h1 {
    font-size: 3rem;
  }

  .start-text {
    font-size: 1.3rem;
  }

  .start-img {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .start-page {
    margin-top: 150px;
  }

  .h1 {
    font-size: 2rem;
  }
}

@media (max-width: 475px) {
  .h1 {
    font-size: 1.6rem;
  }

  .start-text {
    line-height: 30px;
    padding-bottom: 0;
  }

  .start-left-block {
    padding-top: 50px;
  }

  .start-page {
    row-gap: 50px;
  }
}

@media (max-width: 400px) {
  .h1 {
    font-size: 3.5rem;
    text-align: center;
    padding-bottom: 50px;
  }

  .start-text {
    display: none;
  }

  .start-left-block {
    padding-top: 0;
  }

  .start-page {
    row-gap: 150px;
  }
}
